<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ENTITY.Properties.Settings.BIJUBDConnectionString"
            connectionString="Data Source=DESKTOP-AOO28E5\SQLEXPRESS;Initial Catalog=BIJUBD;Persist Security Info=True;User ID=sa;Password=suporte"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>